* {
    margin: 0;
    padding: 0;
}

body {
    /* background: -webkit-linear-gradient(to right, #155799, #159957); */
    background: linear-gradient(to right, #155799, #159957);
    color: whitesmoke;
    width: 100%;
}

.container {
    width: 100%;
}

h1 {
    text-align: center;
    margin: 1rem;
}

.content {
    position: absolute;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(11, 15, 13, 0.582);
    width: 40%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

h5{
   text-align: center;
    font-size: 2rem;
    padding: 0.5rem;
}

h6{
    text-align: center;
    font-size: 1.25rem;
    padding: 0.5rem;
    font-weight: 500;
}

p{  
    margin-left: 10px;
    font-size: 1rem;
}

.txt{
    margin: 3%;
    width: 90%;
    height: 40px;
    border-radius: 5px;
}

.button{
    margin: 3%;
    width: 90%;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.reg{
    text-align: center;
    padding: 1rem;
}

a{
    color: aqua;
    padding: 0.5rem;
    text-decoration: none;
}


